*{
    margin: 0;
    padding: 0;
}
a{
text-decoration: none;
}
ul{
    list-style: none;
}
#menu{
    height: 100px;
    background: rgb(116, 185, 241);
}
#menu .menu{
    height: 100px;
    width: 1170px;
    background: rgb(63, 83, 116);
    margin: 0 auto;
    display: flex;
}
#menu .menu .menu-logo{
    height: 100px;
    width: 200px;
    background: rgb(190, 206, 229);
    display: flex;
    align-items: center;
}
#menu .menu .menu-logo img{
    width: 100%;
}
#menu .menu .menu-list{
 width: 970px;
 height: 100px;
 background: rgb(221, 224, 235);   
 
}
#menu .menu .menu-list ul{
    display: flex;
  justify-content: center;
   }
   
   #menu .menu .menu-list ul li a{
  line-height: 100px;
  padding: 0px 50px;
  margin: 0px 2px;
  background: rgb(164, 213, 233);
  display: block;
   }
   #menu .menu .menu-list ul li a:hover{
       background-color: rgb(46, 94, 150);
       color: blanchedalmond;
   }
   #menu .menu .menu-list ul li{
       position: relative;
   }
   #menu .menu .menu-list ul li .dropdown-menu ul{
       position: absolute;
       display: flex;
       flex-direction: column;
       width: 250px;
       visibility: hidden;
       text-align: center;
       
       
   }
   #menu .menu .menu-list ul li:hover .dropdown-menu ul{
       visibility: visible;
   }

#menu .menu .menu-list ul li .dropdown-menu ul li{
    position: relative;
}
#menu .menu .menu-list ul li .dropdown-menu ul li .dm-menu ul{
    position: absolute;
    left: 250px;
    top: 0;
    width: 200px;
    visibility: hidden;
    text-align: center;
}
#menu .menu .menu-list ul li .dropdown-menu ul li:hover ul{
    visibility: visible;
}

#banner{
    height: 800px;
   background-image: url(images/Heider-bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
#banner .banner-text{
    height: 100%;
    width: 1170px;
    margin: 0 auto;
}

#banner .banner-text h1{
    font-size: 50px;
    padding-top: 200px;
    padding-left: 400px;
    color: azure;
    
}
#banner .banner-text p{
    color: cadetblue;
    font-size: 25px;
    padding-left: 100px;
    padding-top: 30px;
    text-align: center;
}
#banner .banner-text .button{
    margin-top: 100px;
    text-align: center;
}


#banner .banner-text a{
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(215, 226, 226);
    padding: 10px 20px;
    border: 1px solid red ;
    background-color: rgb(46, 94, 150);

}
#banner .banner-text a:hover{
    background: rgb(104, 3, 3);

    transition-duration: 2s;
}
